<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.coderak.mapper.FormDefinitionMapper">

    <select id="selectAll" resultType="top.coderak.entity.FormDefinition">
        SELECT * FROM rp_form_definition WHERE flag = '启用' ORDER BY create_date DESC
    </select>

    <select id="selectById" resultType="top.coderak.entity.FormDefinition">
        SELECT * FROM rp_form_definition WHERE id = #{id}
    </select>

    <select id="selectByCode" resultType="top.coderak.entity.FormDefinition">
        SELECT * FROM rp_form_definition WHERE code = #{code} AND flag = '启用' LIMIT 1
    </select>

    <insert id="insert" parameterType="top.coderak.entity.FormDefinition">
        INSERT INTO rp_form_definition (id, code, name, description, schema_json, version, status,
            create_by, create_date, update_by, update_date, flag)
        VALUES (#{id}, #{code}, #{name}, #{description}, #{schemaJson}, #{version}, #{status},
            #{createBy}, #{createDate}, #{updateBy}, #{updateDate}, #{flag})
    </insert>

    <update id="updateById" parameterType="top.coderak.entity.FormDefinition">
        UPDATE rp_form_definition SET
            name = #{name}, description = #{description}, schema_json = #{schemaJson},
            version = #{version}, status = #{status}, update_by = #{updateBy}, update_date = #{updateDate}, flag = #{flag}
        WHERE id = #{id}
    </update>
</mapper>
