<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.coderak.mapper.WorkflowTaskMapper">

    <select id="selectByInstanceId" resultType="top.coderak.entity.WorkflowTask">
        SELECT * FROM rp_workflow_task WHERE instance_id = #{instanceId} AND flag = '启用' ORDER BY create_date ASC
    </select>

    <select id="selectTodoByAssignee" resultType="top.coderak.entity.WorkflowTask">
        SELECT t.*, i.workflow_code AS workflowCode, i.form_data_id AS formDataId
        FROM rp_workflow_task t
        INNER JOIN rp_workflow_instance i ON t.instance_id = i.id
        WHERE t.assignee = #{assignee} AND t.status = 'pending' AND t.flag = '启用'
        ORDER BY t.create_date DESC
    </select>

    <select id="selectAll" resultType="top.coderak.entity.WorkflowTask">
        SELECT t.*, i.workflow_code AS workflowCode, i.form_data_id AS formDataId
        FROM rp_workflow_task t
        LEFT JOIN rp_workflow_instance i ON t.instance_id = i.id
        WHERE t.flag = '启用' ORDER BY t.create_date DESC
    </select>

    <select id="selectById" resultType="top.coderak.entity.WorkflowTask">
        SELECT t.*, i.workflow_code AS workflowCode, i.form_data_id AS formDataId
        FROM rp_workflow_task t
        LEFT JOIN rp_workflow_instance i ON t.instance_id = i.id
        WHERE t.id = #{id}
    </select>

    <insert id="insert" parameterType="top.coderak.entity.WorkflowTask">
        INSERT INTO rp_workflow_task (id, instance_id, node_key, node_name, assignee, status, action, comment, completed_date,
            create_by, create_date, update_by, update_date, flag)
        VALUES (#{id}, #{instanceId}, #{nodeKey}, #{nodeName}, #{assignee}, #{status}, #{action}, #{comment}, #{completedDate},
            #{createBy}, #{createDate}, #{updateBy}, #{updateDate}, #{flag})
    </insert>

    <update id="updateById" parameterType="top.coderak.entity.WorkflowTask">
        UPDATE rp_workflow_task SET status = #{status}, action = #{action}, comment = #{comment},
            completed_date = #{completedDate}, update_by = #{updateBy}, update_date = #{updateDate}
        WHERE id = #{id}
    </update>
</mapper>
