<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.coderak.mapper.WorkflowInstanceMapper">

    <select id="selectAll" resultType="top.coderak.entity.WorkflowInstance">
        SELECT * FROM rp_workflow_instance WHERE flag = '启用' ORDER BY create_date DESC
    </select>

    <select id="selectByStarter" resultType="top.coderak.entity.WorkflowInstance">
        SELECT * FROM rp_workflow_instance WHERE starter = #{starter} AND flag = '启用' ORDER BY create_date DESC
    </select>

    <select id="selectById" resultType="top.coderak.entity.WorkflowInstance">
        SELECT * FROM rp_workflow_instance WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="top.coderak.entity.WorkflowInstance">
        INSERT INTO rp_workflow_instance (id, workflow_code, business_key, form_data_id, current_node, status, starter,
            create_by, create_date, update_by, update_date, flag)
        VALUES (#{id}, #{workflowCode}, #{businessKey}, #{formDataId}, #{currentNode}, #{status}, #{starter},
            #{createBy}, #{createDate}, #{updateBy}, #{updateDate}, #{flag})
    </insert>

    <update id="updateById" parameterType="top.coderak.entity.WorkflowInstance">
        UPDATE rp_workflow_instance SET current_node = #{currentNode}, status = #{status},
            update_by = #{updateBy}, update_date = #{updateDate}
        WHERE id = #{id}
    </update>
</mapper>
